.ax_default {
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._图片_ {
}
._一级标题 {
  font-family:'微软雅黑', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  color:#333333;
  text-align:left;
}
._二级标题 {
  font-family:'微软雅黑', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:left;
}
._三级标题 {
  font-family:'微软雅黑', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'微软雅黑', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
}
._五级标题 {
  font-family:'微软雅黑', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:12px;
  color:#333333;
  text-align:left;
}
._六级标题 {
  font-family:'微软雅黑', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  color:#333333;
  text-align:left;
}
._文本段落 {
  color:#333333;
  text-align:left;
}
._文本链接 {
  color:#0000FF;
}
._鼠标悬停文本链接时 {
}
._鼠标按下文本链接时 {
}
._表单提示 {
  color:#AAAAAA;
}
._表单禁用 {
}
._流程形状 {
}
._连接 {
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
.droplist {
  color:#000000;
  text-align:left;
}
.text_field {
  font-size:12px;
  color:#333333;
  text-align:left;
}
._形状 {
}
._垂直线 {
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.icon {
}
._图片 {
}
.line {
}
.table_cell {
}
.sticky_4 {
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.text_area {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.tree_node {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.flow_shape {
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.shape {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#0099FF;
  text-align:center;
  line-height:normal;
}
.label {
  font-size:14px;
  text-align:left;
}
.horizontal_line {
}
.new_style {
  font-family:'Microsoft YaHei Light', 'Microsoft YaHei', sans-serif;
  font-weight:250;
  font-style:normal;
  color:#000000;
}
._水平线 {
}
.shape1 {
  font-family:'微软雅黑', sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
._下拉列表框 {
  color:#000000;
  text-align:left;
}
.table {
}
._复选框 {
  text-align:left;
}
.image {
}
._文本框 {
  color:#000000;
  text-align:left;
}
.fontawesome {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
._单选按钮 {
  text-align:left;
}
.paragraph {
  text-align:left;
}
.ellipse {
}
.list_box {
  color:#000000;
  text-align:left;
}
._连接线 {
}
._列表框 {
  color:#000000;
  text-align:left;
}
.radio_button1 {
  text-align:left;
}
textarea, select, input, button { outline: none; }
